.button  {
    -fx-background-color: #0e1010;
    -fx-border-color: #1e1f1e;
    -fx-text-fill: #aeb0b2;
    -fx-border-radius: 0;
}

.button:hover {
    -fx-background-color: #222c3a; /* gradiente de 4 colores */
    -fx-border-color: #00a7ff;
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #202224, #143047, #0d3f60,  #287ba9); /* gradiente de 4 colores */
    -fx-border-color: #88cef8;
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

