.list-view {
    -fx-background-color: #101211;
}

.list-view .list-cell {
    -fx-background-color: #101211;
    -fx-text-fill: white;
}

.list-view:focused .list-cell:selected {
    -fx-background-color: linear-gradient(to bottom, #202224, #143047, #0d3f60,  #287ba9);
    -fx-border-color: #88cef8;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgb(103, 199, 255), 10, 0, 0, 0);
    -fx-border-radius: 0;
}

.list-view:focused {
    -fx-background-color: linear-gradient(to bottom, #202224, #143047, #0d3f60,  #287ba9);
    -fx-border-color: #88cef8;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgb(103, 199, 255), 10, 0, 0, 0);
    -fx-border-radius: 0;
}

.button  {
    -fx-background-color: #202224;
    -fx-border-color: #101211;
    -fx-text-fill: #aeb0b2;
    -fx-border-radius: 0;
}

.button:hover {
    -fx-background-color: #2b333f;
    -fx-border-color: #00a7ff;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgb(0, 159, 255), 10, 0, 0, 0);
    -fx-border-radius: 0;
}

.button:pressed {
    -fx-background-color: linear-gradient(to top, #202224, #0d3f60,  #287ba9);
    -fx-border-color: #88cef8;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgb(103, 199, 255), 10, 0, 0, 0);
    -fx-border-radius: 0;
}

