.separator {
    -fx-pref-height: 0.5px;
    -fx-background-color: #b1a584;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
    -fx-border-color: rgba(177, 165, 132, 0.78);
    -fx-background-color: transparent;
}

.separator.vertical {
    -fx-orientation: vertical;
    -fx-pref-width: 0.5px;
    -fx-background-color: #b1a584;
}

.separator.vertical .line {
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
    -fx-border-color: #b1a584;
    -fx-background-color: transparent;
}