.table-view {
    -fx-background-color: #0f1110;
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: #aeb0b2;
    -fx-alignment: center-left;

}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: #1e222a;
    -fx-border-color: #c7b485;
    -fx-border-width: 0.5;
    /*-fx-effect: dropshadow(gaussian, rgb(199, 180, 133), 2, 1, 1, 1);*/

}

.column-header .label {
    -fx-text-fill: #c7b485;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-font-size: 12;
}

.table-cell {
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-padding: 5;
    -fx-border-color: #333333;
    -fx-border-width: 0.5;
}

.table-row-cell {
    -fx-background-color: #0f1110;
    -fx-text-fill: #c7b485;
    -fx-border-width: 0.1;
    -fx-min-height: 55;
}

#nameColumn.table-cell,#categoryColumn.table-cell{
    -fx-alignment: center-left;
    -fx-font-size: 15;
}
#avgPriceColumn.table-cell{
    -fx-text-fill: #ffffff;
    -fx-alignment: center-right;
    -fx-font-size: 15;
    -fx-padding: 5 10 5 30; /* deja espacio para la imagen */
    /*-fx-border-color: #0f0f11;*/
    /*-fx-effect: dropshadow(gaussian, rgb(199, 180, 133), 2, 1, 1, 1);*/
}
#iconColumn.table-cell{
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgb(111, 172, 216), 20, 0, 0, 0);
}

#priceColumn.table-cell{
    -fx-text-fill: #ffffff;
    -fx-alignment: center-right;
    -fx-font-size: 15;
}

.table-row-cell:hover {
    -fx-border-width: 0.1;
    -fx-translate-x: 1;
    -fx-background-color: linear-gradient(to top, #101010, #0b334e, #1d435c, #0b0b0b);
    -fx-border-color: #0d3f60;
    -fx-text-fill: white;
    -fx-border-radius: 0;
    -fx-font-weight: bold;
}
.table-row-cell:focused {
    -fx-border-width: 0.1;
    -fx-font-weight: bold;
    -fx-translate-x: -3;
    -fx-translate-y: -5;
    -fx-background-color: linear-gradient(to top, rgba(42, 53, 64, 0.18), rgba(20, 48, 71, 0.53), #0d3f60, #0d3f60,  #ffffff);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgb(103, 199, 255), 5, 0, 0, 0);
    -fx-border-radius: 0;
}
/*.table-row-cell:pressed {*/
/*    -fx-border-width: 0.1;*/
/*    -fx-font-weight: bold;*/
/*    -fx-background-color: linear-gradient(to top, #2e383c, #143047, #0d3f60, #0d3f60,  #ffffff);*/
/*    -fx-text-fill: white;*/
/*    -fx-border-radius: 0;*/
/*}*/