.button  {
    -fx-background-color: #202224;
    -fx-text-fill: #aeb0b2;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(255, 85, 99, 0), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #202224, #202224, #202224, #202224, #143047, #0d3f60,  #287ba9);
    -fx-border-color: #67C7FFFF;
    -fx-text-fill: white;
    /*-fx-effect: dropshadow(gaussian, rgb(103, 199, 255), 10, 0, 0, 0);*/
}

#closeBtn:hover{
    -fx-background-color: linear-gradient(to bottom, #e94856, #e94856, #e94856, #e94856, #e94856, #e94856,  #e94856);
    -fx-border-color: #fd0010;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgb(255, 85, 99), 10, 0, 0, 0);
}
